.DS_Store

target/
*.log
*.class
*.jar
*.war
*.ear


.vscode/

*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.auto.tfvars

*.tgz
charts/
rendered-manifest.yaml


.kube/

.history/